.content-cards{
    padding: 32px 0;
}
.movie-card{
    display: inline-block;
    margin: 0 4px 45px;
    vertical-align: top;
    width: calc(33.333% - 8px);
}
.movie-card-item-content{
    margin: 0 auto;
    max-width: 226px;
}
.movie-info{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.image-loader{
    height: auto;
    width: 100%;
}
.image-loader img{
    height: auto;
    width: 100%;
}
.movie-info-label{
    background: #ea1240;
    color: #fff;
    display: inline-block;
    left: -27%;
    line-height: 2em;
    position: absolute;
    text-align: center;
    top: 7%;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
    width: 100%;
    font-family: sans-serif;
}
.movies-description{
    margin-top: 5px;
}
.movies-description-title{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
.movies-description-extra{
    margin-top: 8px;
    font-size: 14px;
    font-family: sans-serif;
}