<div class="content-cards">
    <div class="movie-card">
        <div class="movie-card-item-content">
            <div class="movie-info">
                <div class="image-loader">
                    <img
                        role="presentation"
                        alt="A CIEGAS"
                        src="https://cdn.apis.cineplanet.cl/CDN/media/entity/get/FilmPosterGraphic/HO00000766?referenceScheme=HeadOffice&amp;allowPlaceHolder=true"
                    />
                </div>
                <div class="movie-info-label">Estreno</div>
            </div>
            <div class="movies-description">
                <div class="movies-description-title">
                    A CIEGAS
                </div>
                <div class="movies-description-extra">
                    THRILLER, 1h 32min, TBC.
                </div>
            </div>
        </div>
    </div>
    <div class="movie-card">
        <div class="movie-card-item-content">
            <div class="movie-info">
                <div class="image-loader">
                    <img
                        role="presentation"
                        alt="LOS TIPOS MALOS"
                        src="https://cdn.apis.cineplanet.cl/CDN/media/entity/get/FilmPosterGraphic/HO00000776?referenceScheme=HeadOffice&allowPlaceHolder=true"
                    />
                </div>
                <div class="movie-info-label">Estreno</div>
            </div>
            <div class="movies-description">
                <div class="movies-description-title">
                    LOS TIPOS MALOS
                </div>
                <div class="movies-description-extra">
                    ANIMACIÓN, 1h 40min, TE.
                </div>
            </div>
        </div>
    </div>
    <div class="movie-card">
        <div class="movie-card-item-content">
            <div class="movie-info">
                <div class="image-loader">
                    <img
                        role="presentation"
                        alt="BATMAN"
                        src="https://cdn.apis.cineplanet.cl/CDN/media/entity/get/FilmPosterGraphic/HO00000763?referenceScheme=HeadOffice&allowPlaceHolder=true"
                    />
                </div>
                <!-- <div class="movie-info-label">Estreno</div> -->
            </div>
            <div class="movies-description">
                <div class="movies-description-title">
                    BATMAN
                </div>
                <div class="movies-description-extra">
                    ACCIÓN, 2h 56min, +14.
                </div>
            </div>
        </div>
    </div>
    
</div>
