<div class="toolbar">
    <ul>
        <li class="list active">
          <a href="#">
            <span class="title">Películas</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Cines</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Promociones</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Confitería</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Contactenos</span>  
          </a>
        </li>
      </ul> 
</div>
